bpdy {
    background: #D8DEE9;
    background: #2E3440;
    background: #000000;
    background:#FFFACD;
    background:#0087BD;
    background:#81A1C1;

} 

html {

background: #3B4252;
background: #4C566A;


background: #BF616A;
background: #BF616A;


background: #A3BE8C;
background: #A3BE8C;

background: #EBCB8B;
background: #EBCB8B;

background: #81A1C1;
background: #81A1C1;


background: #B48EAD;
background: #B48EAD;


background: #88C0D0;
background: #8FBCBB;


background: #E5E9F0;
background: #ECEFF4;

background: #A3D6A9;
background: #B7CEB0;
}