name: Install

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: setup dotfiles
        run: |
          chmod +x install-zsh.sh
          ./install-zsh.sh