name: Install

on: [push, pull_request]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup dotfiles
        run: |
          chmod +x install-zsh.sh
          DOTFILES_DIR="$GITHUB_WORKSPACE" ./setup.sh

      - name: Execute zsh
        run: |
          exec zsh

      - name: Smoke test zsh
        shell: zsh {0}
        run: |
          echo "Zsh version: $ZSH_VERSION"
